.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.loader {
  background-color: #fff;
  height: 100%;
  z-index: 999;
  position: absolute;
  overflow-y: hidden;
  top: 0;
  left: 0;
  background-color: rgba(226, 226, 226, 0.9);
}

div.loader img {
  height: 5em;
}

a {
  color: black !important;
  text-decoration: none !important; /* no underline */
}
